div.form-div
  label.form-label(for="title") Blog Post Title:
  input.form-input(type="text", name="title" placeholder="Enter the title of your blog post here. . ." value=blog.name)
div.form-div
  label.form-label(for="entry") Blog Entry:
  textarea.form-textarea(name="entry" cols="22" rows="6" placeholder="Type your full blog post here!" value=blog.entry)
input(type="submit")