  
div
  label(for="makeupname") Makeup Name:
  input()
div
  label(for="brand") Brand:
  input()
div
  label(for="type") Type of Makeup:
  input()
div
  label(for="price") Price (per container):
  input()
div
  label(for="description") Description:
  input()
input(type="submit")

// Look on Review.js for commented out input form