doctype html
html(lang="en")
  head
    title Mishkat's Makeup Magazine
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet")
  body
    div.app
        nav.sidebar-nav
            img.sidebar-nav__img(src='/static/img/mishkat-makeup.png')
            section.sidebar-nav__buttons
              a(href="about").sidebar-nav-button About
              a(href="reviews").sidebar-nav-button Reviews
              a(href="blog").sidebar-nav-button Blog
              button.sidebar-nav-button Admin Login
            p "The only color that should pop is from the palette!"
        aside.main-content
          block content