extends includes/side-nav-layout.pug

block content
    h1.admin-heading Admin Login
    div.login
        section.login__panel 
            input(
                type='text'
                class='login-input'
            )
            input(
                type='password'
                class='login-input'
            )