extends includes/side-nav-layout.pug

block content
    h1.admin-heading Admin Login
    div.login
        section.login__panel
            h1.login-panel-heading Welcome Admin!

            section.admin-input
                form.post-form(action="/api/review", method="post")
                    include includes/review-form.pug
                    
                form.post-form(action="/api/blog", method="post")
                    include includes/blog-form.pug

            button.log-out Click to Log Out